[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "~=3.0"
python-dotenv = "~=0.13"
requests = "~=2.23"

[requires]
python_version = "3.7"
